<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.3D" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.BarCode" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.CAD" version="20.1.0" targetFramework="net48" />
  <package id="Aspose.Cells" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.Diagram" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.Email" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.GIS" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.HTML" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.Imaging" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.Note" version="20.1.0" targetFramework="net48" />
  <package id="Aspose.OCR" version="19.9.3" targetFramework="net48" />
  <package id="Aspose.OMR" version="19.9.0" targetFramework="net48" />
  <package id="Aspose.Page" version="20.1.0" targetFramework="net48" />
  <package id="Aspose.PDF" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.PSD" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.PUB" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.Slides.NET" version="20.2.0" targetFramework="net48" />
  <package id="Aspose.Tasks" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.Total" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.Words" version="20.3.0" targetFramework="net48" />
  <package id="Aspose.Zip" version="20.3.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
</packages>